/* =============================================================================
   SPEAKER
   ========================================================================== */

   .speakers-item {
    position: relative;
    min-height: 180px;
    padding-left: 180px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #e7e7e7;
  }
  
  .speaker-photo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 120px;
    height: 120px;
  }
  
  .speech-title {
    padding-top: 10px;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .speech-time {
    font-size: 18px;
    padding: 10px 15px;
    letter-spacing: -0.03em;
  }
  
  .speakers-name {
    font-size: 1.6em;
  }
  
  .speakers-item p {
    font-size: 1.4em;
  }
  
  /* =============================================================================
     SCHEDULE
     ========================================================================== */
  
  .schedule-tbl {
    padding: 20px;
    table {
      border-collapse: collapse;
      font-size: 1em;
    }
    td {
      position: relative;
      padding: 20px 30px;
      font-size: 1.4em;
      line-height: 1.4em;
      text-align: left;
    }
    th {
      position: relative;
      padding: 20px 30px;
      font-size: 1.4em;
      line-height: 1.4em;
      text-align: left;
      padding: 5px 30px;
      color: #2b2b2b;
      font-size: 2em;
      font-weight: bolder;
    }
    .speaker-photo {
      position: relative;
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 20px;
    }
    .schedule-time {
      text-align: center;
    }
  }
  
  .schedule-slot {
    width: 250px;
    font-size: 16px;
  }
  
  .speakers-company {
    display: block;
    font-size: 12px;
  }

  /* =============================================================================
   SPEAKER
   ========================================================================== */

.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.speakers-item:hover .speaker-photo .photo {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
}

.speech-time {
  color: #fff;
  background: #2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */

.schedule-tbl {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  table {
    background: #fff;
  }
  td, th {
    border-bottom: 1px solid #e7e7e7;
  }
  tbody tr:nth-child(2n+1) {
    background: #f6f6f6;
  }
  th {
    color: #2b2b2b;
  }
  .speaker-photo .photo {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}

.speakers-company {
  color: #999;
}

.schedule-slot {
  color: #2b2b2b;
}

.schedule-tbl tbody tr:hover {
  background: #fffde1;
}

.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {
  color: #214f87;
}

  @media only screen and (max-width: 480px) {
    /* speakers */
    .speaker-photo .photo {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.07);
    }
    .speech-title {
      font-weight: bolder;
    }
    .speech-time {
      color: #2b2b2b;
      background: transparent;
      font-weight: bolder;
    }
    .github-link {
      display: none;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 800px) {
    /* schedule */
    .schedule-tbl {
      padding: 1px;
      td {
        padding: 10px;
      }
      th {
        padding: 10px;
        padding: 10px;
        font-size: 1.8em;
      }
      .speaker-photo {
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      .schedule-slot {
        width: 120px;
      }
      td.schedule-slot {
        font-size: 14px;
        line-height: 1.2em;
      }
      .schedule-time {
        width: 60px;
        padding: 10px 0 10px 5px;
        text-align: left;
      }
      td.schedule-description {
        font-size: 12px;
      }
    }
    /* partners */
    .sponsor-item, .partner-item {
      margin: 0 5px 10px 0;
    }
    .sponsor--link, .partner-link {
      width: 95px;
      height: 95px;
      line-height: 95px;
    }
    /* contact */
    .control-group-name, .control-group-email {
      clear: both;
      width: 100%;
      float: none;
      margin-right: 0;
    }
    .form .btn {
      margin-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 480px) {
  
    /* speakers */
    .speakers-item {
      min-height: 70px;
      padding-left: 70px;
    }
    .speaker-photo {
      width: 50px;
      height: 50px;
    }
    .speech-title {
      padding-top: 0;
      font-size: 16px;
      margin-bottom: .3em;
    }
    .speech-time {
      font-size: 16px;
      padding: 0;
    }
    .speakers-bio {
      display: none;
    }
  }
  
  @media only screen and (max-width: 321px) {
    .logo-name {
      font-size: 4em;
      margin-bottom: .4em;
    }
    .schedule-tbl {
      .schedule-description {
        display: none;
      }
      .schedule-slot {
        width: auto;
      }
    }
    /* partners */
    .sponsor-item, .partner-item {
      margin: 0 12px 15px 0;
    }
    .sponsor--link, .partner-link {
      width: 115px;
      height: 115px;
      line-height: 115px;
    }
  }