{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $listItems  := index $hero "listitems" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
{{- $advice     := index $hero "advice"}}
{{- $sponsors   := .Site.Params.sponsors }}
{{- $companies  := index $sponsors "companies" }}

<div class="hero-body">
  <div class="container">

    <div class="columns is-vcentered">

      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle">
          30th October 2019 - 1st November 2019<br />
          University of Technology Sydney
        </h2>
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <ul>
          {{- range $listItems }}
          <li><span class="has-text-weight-bold">{{ .label }}</span> - {{ .text | safeHTML}}</li>
          {{- end}}
        </ul>


        <span>{{ $advice }}</span>
      </div>

      <div class="column is-5 is-offset-1">
        <img src="{{ printf "/images/%s" $image | relURL }}" alt="GopherConAU Logo by Ashley McNamara">
      </div>

    </div>

    <!-- Commented for now. -->
    <h2 class="subtitle has-text-centered">Sponsored By</h2>
    <div class="tabs is-centered" style="flex-wrap:wrap">
      <div id="diamond" style="width:100%; margin-right:auto; margin-left:auto;flex-basis:100%">
	<a href="https://www.safetyculture.com.au" class="home-page-sponsors-item" itemprop="url" target="_blank" title="SafetyCulture">
          <img src="/images/logos/sponsors/SafetyCulture.svg" alt="SafetyCulture" itemprop="image" style="height: auto;width:100%">
        </a>
      </div>

      <div id="gold" class="sponsors" style="width:100%; margin-right:auto; margin-left:auto;flex-basis:100%">
	{{ range $company := $companies }}
	{{if eq .sponsorship "Gold" }}
	<a href="{{ .url }}" class="home-page-sponsors-item sponsor--link" itemprop="url" target="_blank" title="{{ $company.name }}">
          <img src="{{ .logo }}" alt="{{ $company.name }}" class="photo" itemprop="image">
	</a>
	{{end}}
	{{end}}
	  <!--
	       <a href="https://www.buildkite.com/" class="home-page-sponsors-item sponsor--link" itemprop="url" target="_blank" title="BuildKite" style="width:50%">
               <img src="/images/logos/sponsors/buildkite.png" alt="BuildKite" itemprop="image" >
               </a>
	       <a href="https://www.atlassian.com/" class="home-page-sponsors-item sponsor--link" itemprop="url" target="_blank" title="Atlassian" style="width:50%">
               <img src="/images/logos/sponsors/atlassian.png" alt="Atlassian" itemprop="image" >
               </a>
	  -->
      </div>

	   <ul class="sponsors" style="flex-basis:100%">
             {{ range $company := $companies }}
	     {{ if and (ne .sponsorship "Diamond") (ne .sponsorship "Gold")}}
           <li>
           <a href="{{ .url }}" class="home-page-sponsors-item sponsor--link" itemprop="url" target="_blank" title="{{ $company.name }}">
           <img src="{{ .logo }}" alt="{{ $company.name }}" class="photo" itemprop="image">
           </a>
           </li>
	   {{end}}
           {{ end }}
	   </ul>

    </div>

  </div>
</div>
