{{- $schedule := .Site.Params.schedule }}
{{- $title    := index $schedule "title" }}
{{- $slots    := index $schedule "slots" }}
<section class="section section-feature-grey is-medium" id="speakers">
<div class="container">
    <div class="title-wrapper has-text-centered">
<h2 class="title is-2">Speakers</h2>
    </div>

<div class="content-wrapper">
<ul class="speakers-list">
    {{ range $slot := $slots}}
      {{ if ne .presentation nil }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $slot.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speech-title">
      {{ with .presentation.time }}
      <span class="speech-time">{{ . }}</span>
      {{ end }}
      <span>{{ .presentation.title }}</span>
    </h3>

    <h3 class="speakers-name">{{ .name }}
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </h3>
    <p class="speakers-bio">{{ .bio | safeHTML }}</p>
  </li>
  {{ end }}
{{ end }}
</ul>
</div>
</section>
